.SquareClock {
  color: #444;
}

.DisplayLine {
  display: flex;
}

.DisplayCharacter {
  background-color: #222;
  color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 200%;
  margin: 2px;
  text-align: center;
}

.DisplayCharacter.illuminated {
  color: rgba(255, 255, 255, 1);
}
